{% extends 'base.html.twig' %}

{% block body %}
    {% block register %} {% endblock %}
    <body>
        <div class="row">
            <div class="col-2 d-none d-md-block card h-100">
                <div class="card-body mt-4">
                    <h6 class="card-title text-center text-muted">
                        Currently logged in as: <br>
                        <h5 class="mt-1 mb-5 text-center"> {{ user }} </h5>
                    </h6>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td> <h6 class="card-subtitle text-muted"> Upcoming events: </h6> </td>
                            <td> <h6 class="card-subtitle"> {{ events | length }} </h6> </td>
                        </tr>
                        <tr>
                            <td> <h6 class="card-subtitle text-muted"> Upcoming birthdays: </h6> </td>
                            <td> <h6 class="card-subtitle"> {{ friends | length }} </h6> </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-5">
                        <a href="{{ path('app_event_creator') }}" class="btn btn-primary w-75"> New event
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event ms-1 mb-1" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                        </a>
                        <a href="{{ path('friend_register') }}" class="btn btn-primary mt-2 w-75"> New friend
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add mb-1" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                <div class="card h-100">
                    <div class="card-body mt-4">
                        <h6 class="card-title text-center text-muted"> Currently logged in as: <br> <h5 class="mt-1 text-center"> {{ user }} </h5> </h6>
                        <div class=" text-center mt-5">
                            {% if googleId is not null %}

                                {% if accountCreatedWithGoogle is null %}
                                    Account linked with Google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-success mb-1" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                </svg>
                                    <a href="{{ path('account_disconnect') }}" class="btn btn-secondary btn-sm ms-2 mb-1 text-decoration-none">
                                        Remove Google Connection
                                    </a>
                                {% else %}
                                    <div class="col-sm-12">
                                        Account created with Google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-success mt-1 ms-1 mb-2" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                </svg>
                                        <a href="{{ path('account_disconnect') }}" class="btn btn-danger btn-sm ms-2 mb-1 text-decoration-none">Delete Account</a>
                                    </div>
                                {% endif %}

                            {% else %}
                                Account not linked with Google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google text-danger mb-1" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                </svg>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-secondary btn-sm ms-2 mb-1 text-decoration-none">
                                    <span>Link account with Google</span>
                                </a>
                            {% endif %}
                        </div>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}