{% extends 'authenticated.html.twig' %}

{% block title %}EventList{% endblock %}

{% block body %}
    <div class="mx-5">
        <div class="row">
            <div class="col-2 border border-secondary">
                <a href="dashboard/events/add_event"></a>
                <div class="card h-100">
                    <div class="card-body mt-4">
                        <h6 class="card-title text-center text-muted"> Currently logged in as: <br> <h5 class="mt-1 text-center"> {{ user }} </h5> </h6>
                        <h6 class="card-subtitle mt-4 mb-2 text-muted text-center">No. of scheduled events: {{ events | length }} </h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center mt-5">
                            <a href="events/creator" class="btn btn-primary"> Schedule a new event </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 border border-secondary" >
                {% if isEmpty %}
                    <div class="text-center">
                        <h4 class="mt-5">Not to worry! Seems like you don't have any upcoming events!</h4> <br> <br>
                    </div>
                {% endif %}
                {% for event in events %}
                    <div class="row flex-grow-1">
                        <div class="card mb-2">
                            <div class="card-header">
                                <h5 class="my-2 ms-2"> {{ event.getName() }} </h5>
                            </div>
                            <div class="card-body ms-2">
                                <h5 class="card-title"> {{ event.getDueDate() | date("d/m/Y") }} </h5>
                                <p class="card-text"> {{ event.getDescription() }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
