{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container h-100 w-25 col m-auto mt-5">
        <h4 class="row">Please sign in</h4>
        <div class="form-control row">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col form-floating">
                        {{ form_row(form.email)}}
                    </div>
                    <div class="row">
                        {{ form_row(form.password) }}
                    </div>
                    <div class="row">
                        {{ form_row(form.SignIn) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    {{ dump(var) }}
{% endblock %}
